.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.padding-16 {
  padding: 16px;
}

.padding-16-bottom {
  padding-bottom: 16px;
}

.margin-16-bottom {
  margin-bottom: 16px;
}

.margin-16-top {
  margin-top: 16px;
}

.width-full {
  width: 100%;
}
